<div class='maincontainer'>
  <h1>{{ title }}</h1>
  <div class='todo-wrapper'>
    <form class='todoinput' #f="ngForm" (ngSubmit)="onSubmit(f)">
      <input placeholder='Todo....'  type='text' id='title' name="title" ngModel>
    </form>
    <div *ngFor="let todo of todos">
      <div class='todocontainer' *ngIf="!this.todo.isComplete">
        <button (click)="onComplete(this.todo.id)" class='com-button'><i class='material-icons'>check</i></button>
        <span>{{this.todo.title}}</span>
        <button (click)="onDelete(this.todo.id)" class='del-button'><i class='material-icons'>delete</i></button>
      </div>
    </div>
    <h5>Completed Tasks...</h5>
    <div *ngFor="let todo of todos">
      <div class='todocontainer' *ngIf="this.todo.isComplete">
        <span>{{this.todo.title}}</span>
        <button (click)="onDelete(this.todo.id)" class='del-button'><i class='material-icons'>delete</i></button>
      </div>
    </div>

  </div>
</div>
